

body {
  height: 100vh;
  width: 100vw;
  
}

.flash-box {
  background-color: #38AEF0;
  color: white;
  width: 100vw;
  height: 30px;
  text-align: center;
  line-height: 30px;
  
}

a {
  text-decoration: none;
}
.wrapper {   
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  
  .chat-side {
    width: 300px;
    float: left;  
    color: $white; 
    height: 100vh;
    overflow: scroll;
    .side-header {
      background-color: #253141;
        height: 100px;    
        display: flex;
        align-items: center;
        padding: 0 20px;
      &__box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-weight: bold;        
        font-size: 16px; 
        &__menu {
          display: flex;
          &__new-group {
            margin-left: 0.3rem;
            a {
              color: $white;
              font-size: inherit;
            }
          }
          &__edit-user {
            margin-left: 0.3rem;
            a {
              color: $white;
              font-size: inherit;
            }
          }
        }
      }
    }  
  

    .groups {
      background-color: #2f3e51;
      height: calc(100vh - 100px);     
      padding: 20px 20px 0 20px;
      bottom: 0;
      overflow: scroll;
      .group {
        width: 100%;
        a {
          color: $white;
          font-weight: bold;
          text-decoration: none;
          .group__group-name {
            font-size: 15px;
            padding-bottom: 5px;
          }
          .group__latest-message {
            font-size: 11px;
            padding-bottom: 40px;
          }
        }
      }
    }
  }

  .chat-main {
    width: calc(100vw - 300px);
    float: left;
    .main-header {
      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #eeeeee;      
      position: relative;
      overflow: scroll;
      &__left-box {
        margin-top: 35px;      
        &__current-group {
          margin-bottom: 15px;
          font-size: 20px;
          color: #333333;
        }
        &__member-list {
          display: flex;
          font-size: 12px;
          color: #999999;
        }
      }
      &__edit-btn {
        color: $aqua;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px $aqua;
        position: absolute;
        right: 40px;
        top: 0;
      }
    }
    .messages {
      height: calc(100vh - 190px);
      padding: 46px 40px;
      background-color: #fafafa;
      overflow: scroll;
      .message {
        padding-bottom: 40px;
        &__upper-info {
          display: flex;
          margin-bottom: 10px;
          &__talker {
            color: $gray;
            font-size: 16px;
            font-weight: bold;
            padding-right: 10px;
          }
          &__date {
            font-size: 12px;
            color: #999999;
            padding: 3px 0;
          }
        }
        &__text { 
          color: $gray;
          font-size: 14px;
          margin-bottom: 10px;
        }             
      }   
    }
    .form {
      height: 50px;
      padding: 20px 40px;
      background-color: #ddd;
      position: fixed;
      bottom: 0;
      width: calc(100vw - 380px);
      .input-box {
        position: relative;
        .input-box {
          display: flex;
          &__text {
            height: 50px;
            width: calc(100% - 135px);
            padding: 0 10px;
            margin-right: 15px;
            color: $gray;
          }
          &__image {
            font-size: 1.3rem;
            position: absolute;
            top: 10px;
            right: 125px;
            cursor: pointer;
            .hidden {
              display: none;
            }
          }
        }
        .submit-btn {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 100px;
          height: 50px;
          background-color: $aqua;
          color: $white;
          cursor: pointer;
        }

      }
    }
  }
}